@page
@model EvoltingStore.Pages.Management.AddGameModel
@using EvoltingStore.Entity
@{
    Layout = "_Layout";
    ViewData["Title"] = "Add Game";

    var user = (String)HttpContext.Session.GetString("user");
    var userData = (User)Newtonsoft.Json.JsonConvert.DeserializeObject<User>(user);

    var jsonGenre = (String)ViewData["genres"];
    var genres = (List<Genre>)Newtonsoft.Json.JsonConvert.DeserializeObject<List<Genre>>(jsonGenre);

}

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function () {
        $('.js-example-basic-multiple').select2();
    });
</script>

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<!-- Header End -->

<form method="post" class="form-horizontal m-5" enctype="multipart/form-data" onsubmit="return validateForm()">
    <fieldset>

        <!-- Form Name -->
        <legend>UPLOAD GAME DATA</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_name">NAME</label>
            <div class="col-md-4">
                <input name="game.Name" placeholder="Name" class="form-control input-md" type="text" required>

            </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_name_fr">DESCRIPTION</label>
            <div class="col-md-4">
                <textarea class="form-control input-md" placeholder="Description" name="game.Description" required></textarea>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_name_fr">GAME SOURCE</label>
            <div class="col-md-4">
                <input name="game.GameSource" placeholder="GameSource" class="form-control input-md" type="text" required>
            </div>
        </div>

        <!-- Date input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_name_fr">RELEASE DATE</label>
            <div class="col-md-4">
                <input class="form-control input-md" type="date" name="game.ReleaseDate"
                       min="2001-01-01" max="@DateTime.Now.ToShortDateString()">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_name_fr">PLATFORM</label>
            <div class="col-md-4">
                <input name="game.Platform" placeholder="Platform" class="form-control input-md" type="text" required>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_name_fr">PRICE</label>
            <div class="col-md-4">
                <input name="game.Price" id="price" placeholder="Price" class="form-control input-md" type="text" required>
                <span id="priceError" style="color:red; display:none;">Please enter a valid positive number.</span>
                <br />
            </div>
        </div>

        <!-- Multiple select input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="genres">GENRE</label>
            <div class="col-md-4">
                @foreach (var g in genres)
                {
                    <br />
                    <input type="checkbox" name="genres" value="@g.GenreId" />
                    @g.GenreName
                }
            </div>
        </div>

        <!-- File Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="filebutton">Image</label>
            <div class="col-md-4">
                <input class="form-control input-md" type="text" id="imageURL" name="imageURL" placeholder="Enter image URL" required>
            </div>
        </div>
        <div id="imageDisplay"></div>

        <!-- Button -->
        <div class="form-group">
            <div class="col-md-4">
                <input type="submit" class="btn btn-primary m-3" value="Upload Data" />
            </div>
        </div>

    </fieldset>
</form>
<script>
    document.getElementById('imageURL').addEventListener('input', function() {
        var imageURL = this.value;
        var imageDisplayDiv = document.getElementById('imageDisplay');
        if (imageURL) {
            var imgElement = document.createElement('img');
            imgElement.src = imageURL;
            imgElement.alt = 'Uploaded Image';
            imageDisplayDiv.innerHTML = '';
            imageDisplayDiv.appendChild(imgElement);
        } else {
            imageDisplayDiv.innerHTML = '';
        }
    });
    function validateForm() {
        var price = document.getElementById('price').value;
        var priceError = document.getElementById('priceError');

        if (!price || isNaN(price) || parseFloat(price) < 0) {
            priceError.style.display = 'inline';
            return false;
        } else {
            priceError.style.display = 'none';
            return true;
        }
    }
</script>
<style>
    #imageDisplay img {
        max-width: 200px;
        max-height: 200px;
    }
</style>

