@page
@model EvoltingStore.Pages.CartModel
@using EvoltingStore.Entity
@{
    Layout = "_Layout";
    ViewData["Title"] = "Shopping Cart";
}

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="header__logo">
                    <a href="/Index">
                        <img src="img/logo.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="header__nav">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="/Index">Homepage</a></li>
                            <li><a href="/Categories">Browse</a></li>
                            <li><a href="/Blog">Our Blog</a></li>
                            <li><a href="#">Contacts</a></li>
                            <li><a href="#">My Favourite</a></li><li><a href="/OrderHistory">My Orders</a></li>
                            <li class="active"><a href="/Cart">Cart</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="header__right">
                    <a href="/Profile"><span class="icon_profile"></span></a>
                </div>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>
<!-- Header End -->

<section class="vh-100">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <br />
                <p style="color:white"><span class="h2">Shopping Cart </span><span class="h4">(@Model.CartItems.Count item in your cart)</span></p>
                <br />
                @if (Model.CartItems == null || !Model.CartItems.Any())
                {
                    <div class="alert alert-info" role="alert">
                        Your cart is currently empty. <a href="/Categories" class="alert-link">Continue shopping</a> to add items to your cart.
                    </div>
                }
                else
                {
                    <div class="card mb-4">
                        <div class="card-body p-4">
                            <div class="row align-items-center">
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-3 d-flex justify-content-center">
                                    <div>
                                        <p class="small text-muted mb-4 pb-2">Name</p>
                                    </div>
                                </div>
                                <div class="col-md-3 d-flex justify-content-center">
                                    <div>
                                        <p class="small text-muted mb-4 pb-2">Price</p>
                                    </div>
                                </div>
                                <div class="col-md-2 d-flex justify-content-center">
                                </div>
                            </div>
                            @foreach (var item in Model.CartItems)
                            {
                                <a href="/Details?gameId=@item.Game.GameId">
                                    <div class="row align-items-center">
                                        <div class="col-md-4">
                                            <img src="@item.Game.Image"
                                                 class="img-fluid" width="200px" alt="Generic placeholder image">
                                        </div>
                                        <div class="col-md-3 d-flex justify-content-center">
                                            <div>
                                                <p class="lead fw-normal mb-0">@item.Game.Name</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3 d-flex justify-content-center">
                                            <div>
                                                <p class="lead fw-normal mb-0">$@item.Game.Price</p>
                                            </div>
                                        </div>
                                        <div class="col-md-2 d-flex justify-content-center">
                                            <form method="post" asp-page-handler="Remove">
                                                <input type="hidden" name="cartItemId" value="@item.Id" />
                                                <button type="submit" class="btn btn-sm btn-danger">Remove</button>
                                            </form>
                                        </div>
                                    </div>
                                </a>
                                <hr />
                            }
                        </div>
                    </div>

                    <div class="card mb-5">
                        <div class="card-body p-4">

                            <div class="float-end">
                                <p class="mb-0 me-5 d-flex align-items-center">
                                    <span class="small text-muted me-2">Order total:</span> <span class="lead fw-normal">$@Model.TotalPrice</span>
                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="col-lg-9">
                            <div class="btn btn-light btn-lg me-2">
                                <a href="/Categories">Continue Shopping</a>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <form method="post" id="checkout-form" asp-page-handler="Checkout">
                                <button type="button" class="btn btn-primary btn-lg" id="checkout-button">Proceed to CHECKOUT</button>
                            </form>
                        </div>
                    </div>
                    <br />
                }
            </div>
        </div>
    </div>
</section>
<script>
    document.getElementById('checkout-button').addEventListener('click', function() {
        var checkoutWindow = window.open('/PayPalCheckout', 'PayPalCheckout', 'width=600,height=600');

        window.addEventListener('message', function(event) {
            if (event.origin === window.location.origin) {
                if (event.data.success) {
                    document.getElementById('checkout-form').submit();
                }
            }
        });
    });
</script>



